<ul class="navbar-nav justify-content-end flex-grow-1 pe-3 me-4">
  <li class="nav-item">
    <a class="nav-link text-dark active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link text-dark" aria-current="page" href="{% url 'job-post'%}">Job Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" aria-current="page" href="{% url 'list-worker'%}">Workers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" aria-current="page" href="{% url 'client-dashboard' %}"><i class="fa-solid fa-gear me-1"></i>Dashboard</a>
    </li>
</ul>